<div class="flex flex-row gap-3">
    <!-- Personal Information Card -->
     <div class="flex flex-col gap-4 p-6 bg-white rounded-lg shadow border border-gray-200 w-full max-w-sm">
         <div class="flex flex-row items-stretch gap-4">
             <div class="aspect-square rounded-full bg-primary-light text-primary flex items-center justify-center font-bold text-xl">
                 {{ client?.full_name?.slice(0,2)?.toUpperCase() }}
             </div>
             <div class="flex flex-col gap-1 flex-1">
                 <h1 class="text-xl font-bold text-gray-900">{{ client?.full_name }}</h1>
                 <div class="flex flex-row gap-1">
                     <lucide-icon name="phone" class="w-4 h-4 text-gray-400 inline-block mr-1"></lucide-icon>
                     <p class="text-sm text-gray-500">{{ client?.phone_number }}</p>
                 </div>
                 <div class="flex flex-row gap-1">
                     <lucide-icon name="mail" class="w-4 h-4 text-gray-400 inline-block mr-1"></lucide-icon>
                     <p class="text-sm text-gray-500">{{ client?.email }}</p>
                 </div>
             </div>
         </div>
         <hr class="border-gray-200">
     </div>

    <!-- Client Tabs -->
    <div>
        <app-client-tabs [client]="client"></app-client-tabs>
    </div>
</div>
